[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
python-dotenv = "*"
nltk = "*"
scikit-learn = "*"
pandas = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
youtube-comment-downloader = "*"
emoji = "*"
langdetect = "*"
wordcloud = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
