[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
nltk = "*"
pandas = "*"
python-dotenv = "*"
scikit-learn = "==1.8.0"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
youtube-comment-downloader = "*"
yt-dlp = "*"
emoji = "*"
langdetect = "*"
torch = "*"
wordcloud = "*"
matplotlib = "*"
numpy = ">=2.0.0"

[dev-packages]

[requires]
python_version = "3.11"
